TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=app

RADARR_API_KEY=
RADARR_URL=
SONARR_API_KEY=
SONARR_URL=
JELLYFIN_API_KEY=
JELLYFIN_URL=
JELLYSTATS_API_KEY=
JELLYSTATS_URL=
JELLYSEERR_API_KEY=
JELLYSEERR_URL=

MEDIA_CHECK_STRATEGY=requester